<ion-view view-title="我">
  <ion-content>
    <ion-list>
        <a class="item item-thumbnail-left item-icon-right" href="#">
            <img src="http://www.zhaole365.com/ow_userfiles/plugins/base/avatars/avatar_big_1_1417413368.jpg">
            <h2>找乐365 汪浩</h2>
            <p>集结号：hawkwang_buaa</p>
    
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        
        <div class="item item-divider">  </div>
        
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-calendar-outline"></i>
          <h3>活动</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-flag"></i>
          <h3>乐群</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
     
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-people"></i>
          <h3>乐友</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-bookmark"></i>
          <h3>兴趣</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>        

        <div class="item item-divider">  </div>
      
        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-gear"></i>
          <h3>设置</h3>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>      
        
    </ion-list>
  </ion-content>
</ion-view>
