<ion-view view-title="找乐">
    
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-pulse-strong"></i>
        乐友动态
        <span class="badge badge-assertive">10</span>
        <span class="item-note">
        <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
      
      <div class="item item-divider">  </div>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-location"></i>
        附近活动
        <span class="item-note">
        <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-people"></i>
        活跃乐群
        <span class="item-note">
        <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>      
      
      <div class="item item-divider">  </div>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-person-stalker"></i>
        发现乐友
        <span class="item-note">
        <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-personadd"></i>
        添加乐友
        <span class="item-note">
        <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
      
      <div class="item item-divider">  </div>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-personadd"></i>
        扫一扫
        <span class="item-note">
        <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>      

    </div>
  </ion-content>
</ion-view>
