<ion-view view-title="找乐">
    
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-pulse-strong"></i>
        <h3>乐友动态</h3>
        <span class="badge badge-assertive">10</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      
      <div class="item item-divider">  </div>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-location"></i>
        <h3>附近活动</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-flag"></i>
        <h3>活跃乐群</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>      
      
      <div class="item item-divider">  </div>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-people"></i>
        <h3>发现乐友</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-personadd"></i>
        <h3>添加乐友</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      
      <div class="item item-divider">  </div>
      
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-android-expand"></i>
        <h3>扫一扫</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>      
      
      
    </div>
  </ion-content>
</ion-view>
